<dialog class="mdl-dialog" id="transcript-dialog">
  <h4 class="mdl-dialog__title mdl-typography--text-center">Transcript</h4>
  <div class="mdl-dialog__content mdl-typography--text-left">

    <ul class="demo-list-three mdl-list" data-bind="foreach: dialogues">
      <li class="mdl-list__item mdl-list__item--three-line dialogue-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span data-bind="text: user"></span>
          <span class="mdl-list__item-text-body">
            <span data-bind="text: sentence"></span>
            (<span data-bind="visible: wordDetected != 'false', text: wordDetected"></span>)
          </span>

          </span>
        </span>
      </li>
    </ul>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" data-bind="click: finishSetup">
      Done
    </button>
  </div>
</dialog>