<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--12-col-tablet mdl-typography--text-center">
    <%= render 'smart_conversation_setup' %>
  </div>

  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--12-col-tablet document">
    <embed class="align-center" src='documents/prob1.pdf' width="800px" height="1100px"></embed>
  </div>



</div>