<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--12-col-tablet">
    <%= render 'smart_conversation_setup' %>
  </div>

  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--12-col-tablet document-container">
    <embed class="align-center" src="documents/chilab-start.pdf" width="900px" height="1100px"></embed>
  </div>

  <div id="word-toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text mdl-typography--display-2"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

</div>


<%= render 'transcript' %>

<script id="document-template" type="text/x-handlebars-template">
  <embed class="align-center" src="{{url}}" width="800px" height="1100px"></embed>
</script>