<div class="mdl-grid container">
  <div class="mdl-cell mdl-cell--12-col">
    <h1>Welcome to Chilab Apps.</h1>
    <p>Choose what you want to do.</p>

    <ul>
      <li><a href="<%= smart_conversation_path %>">Smart Conversations</a></li>
    </ul>

  </div>


</div>
