.container {
  max-width: 960px;
}

.dialogue-line {
  height: auto !important;
  padding: 0;
}

.mdl-dialog {
  width: 800px;
  top: 100px;
}

.mdl-dialog__actions {
  display: block;
  text-align: center;
}

.label-text {
  color: gray;
}

#transcript-dialog {
  max-height: 400px;
  overflow: scroll;
}

.start-stop-btn, .setup-btn, .show-transcript-btn {
  width: 100%;
}

.show-transcript-btn {
  color: steelblue;
  text-decoration: underline;
  text-transform: capitalize;
}

.mdl-snackbar {
  left: auto;
  right: 0px;
  top: 0;
  bottom: auto;
  transform: translate(-50%, -40px);
}

.mdl-snackbar--active {
  transform: translate(-50%, 100px);
}

.mdl-snackbar__text {
  margin: auto;
}

.mdl-tabs__tab {
  outline: none;
}

#conversation-panel {
  padding: 20px;
}

.custom-text-field {
  border: none;
  border-bottom: 1px solid #670101;
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: black;
  transition: border-bottom 2s;
  transition-timing-function: cubic-bezier(.5, 0, .5, 1);
  &:focus, &:active {
    outline: none;
    border-bottom: 1px solid steelblue;
  }
}
.custom-text-area {
  border: 1px solid #670101;
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: black;
  transition: border-bottom 2s;
  transition-timing-function: cubic-bezier(.5, 0, .5, 1);
  min-height: 80px;
  width: 100%;
  &:focus, &:active {
    outline: none;
    border: 1px solid steelblue;
  }
}

.custom-select {
  min-width: 80px;
  border: 1px solid;
  border-color: transparent transparent #5c0000 transparent;
  background: white;
  height: 3rem;
  font-size: 15px;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}

.upload-container {
  height: 30px;
  $width: 83px;
  .upload-btn {
    position: absolute;
    z-index: 5;
    width: $width;
    border: 1px solid steelblue;
    text-align: center;
    padding: 2px;
    height: 20px;
    border-radius: 5px;
    background: steelblue;
    color: white;
    font-size: 12px;
    pointer-events: none;
    cursor: pointer;
  }
  .chooser {
    font-size: 12px;
    margin-top: 4px;
    position: absolute;
    left: $width;
  }
}

